@use "./variables" as *;

main {
    background-color: red;

    .btn_primary {
        background-image: linear-gradient(to right, $bgPrimaryGradient1, $bgPrimaryGradient2);
        color: $light;

        &:hover {
            background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
            color: $light;
        }
    }

    .btn_secondary {
        background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
        color: $light;

        &:hover {
            background-image: linear-gradient(to right, $bgPrimaryGradient1, $bgPrimaryGradient2);
            color: $light;
        }
    }

    .btn_tertiary {
        background-image: linear-gradient(to right, $light, $midLight);
        color: $bgSecondaryGradient2;

        &:hover {
            color: $bgPrimaryGradient2;
        }
    }

    #our_service {
        background-color: $light;

        .our_services_title {

            h2 {
                font-size: 2rem;
            }

            h5 {
                font-size: 0.8rem;
                color: $bgSecondaryGradient2;
            }

            p {
                font-size: 0.7rem;
            }
        }

        .our_services_items {

            .item_card {
                .item_card_img {
                    z-index: 2;

                    .card {
                        display: inline-block;
                        padding: 1rem;
                        margin-bottom: -2rem;


                        img {
                            aspect-ratio: 1;
                            object-fit: contain;
                        }

                    }

                }

                .item_card_text {
                    z-index: 1;
                }

                &:hover>.item_card_img {

                    .card {
                        box-shadow: $bgNumber 0 0 20px 0px;
                    }
                }

                &:hover>.item_card_text {
                    background-image: linear-gradient(to bottom, $bgPrimaryGradient2, $dark);
                    color: $light;
                }
            }

        }

    }

    .start_project {
        background-image: linear-gradient(to bottom, $bgPrimaryGradient2, $dark);

        .start_project_right {
            margin-top: 8rem;

            h5 {
                font-size: 0.8rem;
                color: $light;
            }

            h1 {
                font-size: 3rem;
                color: $light;
            }

            p {
                margin: 0;
                color: $bgPrimaryGradient1;
            }
        }
    }

    .portfolio {
        background-color: $light;

        .portfolio_top {

            .portfolio_title {
                h2 {
                    font-size: 2rem;
                }

                h5 {
                    font-size: 0.8rem;
                    color: $bgSecondaryGradient2;
                }
            }

            .portfolio_button {
                position: relative;

                button {
                    color: $bgSecondaryGradient2;
                    border-color: $bgSecondaryGradient2;
                }
            }
        }

        .portfolio_bottom {

            .carousel {

                .col {
                    .carousel_img {
                        z-index: 2;
                        margin-bottom: -3rem;
                        box-shadow: $bgNumber 0 -8px 20px 0px;

                        img {
                            border-radius: 1rem;
                        }
                    }

                    .carousel_text {
                        z-index: 1;
                        padding: 4rem 1rem 1rem;
                        box-shadow: $bgNumber 0 8px 20px 0px;



                        h5 {
                            font-size: 0.8rem;
                        }

                        span {
                            font-size: 0.7rem;
                            color: $carouselText;
                        }
                    }

                    &:hover {

                        .carousel_text {
                            background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
                            color: $light;
                        }

                        span {
                            color: $light;
                        }
                    }
                }
            }
        }
    }

    .price_list {
        background-image: linear-gradient(to bottom, $bgPrimaryGradient2, $dark);


        .price_list_title {

            h2 {
                font-size: 2rem;
                color: $light;
            }

            h5 {
                font-size: 0.8rem;
                color: $bgSecondaryGradient2;
            }

            p {
                margin: 0;
                font-size: 0.7rem;
                color: $light;
            }
        }

        .price_list_plans {
            height: 25rem;

            .row {
                padding-top: 5rem;

                .col {
                    .card {
                        background-color: $light;
                        border: none;
                        border-radius: 1rem;
                        position: relative;

                        ul {
                            list-style: none;
                            padding: 0;
                        }

                        h2 {
                            font-size: 2rem;
                        }

                        h5 {
                            font-size: 0.8rem;
                        }

                        h1 {
                            font-size: 5rem;
                        }

                        span,
                        li {
                            font-size: 0.8rem;
                        }

                        li {
                            line-height: 1.5rem;
                        }

                        .number_bg {
                            position: absolute;
                            right: -10px;
                            top: -60px;

                            h1 {
                                font-weight: bold;
                                font-size: 15rem;
                                color: $bgNumber;
                            }
                        }
                    }
                }

                .col:nth-child(2) {

                    .card {
                        background-image: linear-gradient(to bottom right, $bgSecondaryGradient1, $bgSecondaryGradient2);
                        color: $light;

                    }

                }
            }


        }
    }

    #blog {
        background-color: $light;
        padding: 20rem 0 5rem 0;

        .blog_title {

            h2 {
                font-size: 2rem;
            }

            h5 {
                font-size: 0.8rem;
                color: $bgSecondaryGradient2;
            }

            p {
                font-size: 0.7rem;
            }
        }

        .row {

            .col-6 {

                .card {
                    height: 20rem;
                    background-image: url("/src/assets/img/headway-537308-unsplash-1380x703.jpg");
                    background-size: cover;
                    color: $light;
                    border-radius: 1rem;

                    span {
                        font-size: 0.6rem;
                    }

                    strong {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.8rem;
                        margin-bottom: 0;
                    }
                }
            }

            .col-3 {

                .card {
                    height: 20rem;
                    background-image: linear-gradient(to bottom right, $dark, $bgPrimaryGradient2);
                    color: $light;
                    border-radius: 1rem;

                    span {
                        font-size: 0.6rem;
                    }

                    strong {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }

                }
            }

            .btn {
                background-color: $light;
                font-size: 0.8rem;

                &:hover {
                    background-color: $dark;
                    color: $light;
                }
            }
        }

    }

    #testimonial {
        background-color: $light;
        padding: 8rem 0;

        .testimonial_title {

            h2 {
                font-size: 2rem;
            }

            h5 {
                font-size: 0.8rem;
                color: $bgSecondaryGradient2;
            }

            p {
                font-size: 0.7rem;
            }
        }

        .testimonial_staff {
            .card {
                img {
                    border-radius: 50%;
                    border: 3px solid $bgSecondaryGradient1;
                    aspect-ratio: 1 / 1;
                }

                .star {
                    color: $bgSecondaryGradient2;

                }

                .cit_bg {
                    position: absolute;
                    top: 80px;
                    left: 37%;

                    h1 {
                        font-weight: bold;
                        font-size: 15rem;
                        color: $bgNumber;
                    }
                }
            }
        }

        .testimonial_company {
            padding-top: 10rem;
            padding-bottom: 4rem;
        }

    }

}