@use "./variables" as *;

footer {
    background-image: linear-gradient(to bottom, $bgPrimaryGradient2, $dark);
    position: relative;

    .email {
        position: absolute;
        top: -70px;
        left: 15%;

        .card {
            background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
            height: 10rem;

            h2 {
                font-size: 2rem;
                color: $light;
            }

            p {
                font-size: 0.7rem;
                color: $light;
            }
        }

        .email_title {
            width: 50%;
        }

        .email_input {
            width: 50%;

            .email_mail {
                background-color: $light;
                border-radius: 5rem;
                height: 3rem;
                width: 25rem;

                input {
                    width: 70%;
                }

                .btn_primary {
                    width: 30%;
                    background-image: linear-gradient(to right, $bgPrimaryGradient1, $bgPrimaryGradient2);
                    color: $light;

                    &:hover {
                        background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
                        color: $light;
                    }
                }
            }
        }
    }

    .footer_top {
        padding-top: 8rem;
        padding-bottom: 4rem;

        .logo {
            filter: brightness(100);
        }

        h4 {
            font-size: 1rem;
            color: $light;
        }

        p,
        a {
            font-size: 0.8rem;
            color: $itemFooter;
            text-decoration: none;
            font-weight: lighter;
        }

        ul {
            list-style: none;

            li {
                line-height: 2rem;
                font-size: 0.8rem;
                font-weight: lighter;
                color: $itemFooter;

                span {
                    color: $light;
                }
            }
        }
    }

    .footer_bottom {
        position: relative;

        .copyright {

            span {
                font-size: 0.8rem;
                font-weight: lighter;
                color: $itemFooter;
            }
        }

        .social {

            li {
                color: $light;
            }
        }

        .upstairs {
            background-color: $light;
            position: absolute;
            top: -50px;
            right: 10px;
        }

        .questions {
            background-color: $bgPrimaryGradient2;
            color: $light;
            position: absolute;
            top: -10px;
            right: -50px;
        }

    }
}