@use "./variables" as *;

main {
    background-color: red;

    .btn_primary {
        background-image: linear-gradient(to right, $bgPrimaryGradient1, $bgPrimaryGradient2);
        color: $light;
    }

    .btn_secondary {
        background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
        color: $light;
    }

    .our_services {
        background-color: $light;

        .our_services_title {
            h2 {
                font-size: 2rem;
            }

            h5 {
                font-size: 0.8rem;
                color: $bgSecondaryGradient2;
            }

            p {
                font-size: 0.7rem;
            }
        }

    }

    .start_project {
        background-image: linear-gradient(to bottom, $bgPrimaryGradient2, $dark);

        .start_project_right {
            margin-top: 8rem;

            h5 {
                font-size: 0.8rem;
                color: $light;
            }

            h1 {
                font-size: 3rem;
                color: $light;
            }

            p {
                color: $bgPrimaryGradient1;
            }
        }
    }

}