@use "./variables" as *;

header {
    background-image: linear-gradient(to bottom right, $bgPrimaryGradient1, $dark);

    .logo {
        filter: brightness(100);
    }

    h4 {
        font-size: 1rem;
        color: $light;
    }

    .navbar {
        li:first-child {
            a {
                color: $bgSecondaryGradient1;
            }
        }

        li {
            a {
                color: $light;
            }
        }
    }

    .btn_primary {
        background-image: linear-gradient(to right, $bgPrimaryGradient1, $bgPrimaryGradient2);
        color: $light;
    }

    .btn_secondary {
        background-image: linear-gradient(to right, $bgSecondaryGradient1, $bgSecondaryGradient2);
        color: $light;
    }

    .jumbo {
        .jumbo_left {
            margin-top: 8rem;

            h1 {
                font-size: 3rem;
                color: $light;
            }

            p {
                color: $bgPrimaryGradient2;
            }
        }

    }

}