$light: #FFFFFF;
$midLight: #E0E0E0;
$dark: #000000;
$bgPrimaryGradient1: #03A7D3E6;
$bgPrimaryGradient2: #527CEB;
$bgSecondaryGradient1: #86246E;
$bgSecondaryGradient2: #F9636B;
$bgNumber: #0202301A;