$light: #FFFFFF;
$midLight: #E0E0E0;
$carouselText: #818A91;
$dark: #000000;
$bgPrimaryGradient1: #03A7D3E6;
$bgPrimaryGradient2: #527CEB;
$bgSecondaryGradient1: #86246E;
$bgSecondaryGradient2: #F9636B;
$bgCard: #3D3D3D;
$bgNumber: #0202301A;
$itemFooter: #818A91;
$myBgGradient1: #0a1851;
$myBgGradient2: #010230;